{% extends "base.html"%}

{% block main %}
<style>
    body {
        background-color: #FFFFFF;
    }
    .unselectable {
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      user-select: none;
    }
    .arrow_undo_redo {
        display:inline-block;
        color: gray;
        width: min(10vw, 60px);
        padding: min(1.1vw, 10px);
        border-radius: 15px;
    }
    .dropdown_li{
        margin: 10px;
    }
</style>

<script>
    pattern = /&quot;/g;

    data = '{{data}}'.replace(pattern, '"');
    data = JSON.parse(data);

    free_time_types_dict = '{{free_time_types_dict}}'.replace(pattern, '"');
    free_time_types_dict = JSON.parse(free_time_types_dict);

    active_free_time_type = "4";

    cell_free_time_types_dict = {};
    {% for free_time_type in free_time_types %}
    cell_free_time_types_dict["{{free_time_type.id}}"] = 0;
    {% endfor %}

    data_send_url = "{% url 'set_free_time_by_slug' free_time.slug%}";
    fill_data_with_weekdays_data_url = "{% url 'set_free_time_by_slug_with_weekdays' free_time.slug%}"

</script>

{% load static %}

<script src="{% static 'timetable/js/get_free_time.js' %}"></script>

<div style="
position: -webkit-sticky;
position:sticky;
top: 0px; background-color: #212529; z-index:1000;
padding: 5px;">
    <div class="container">
        <div style="display:inline-block;" class="unselectable">
            <div style="display:inline-block;">
                <button class="btn btn-secondary" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseExample"
                        aria-expanded="false" aria-controls="collapseExample"
                        style="font-size: min(3.2vw, 20px);">
                    <i class="bi bi-gear"></i>
                </button>
            </div>

            <div class="btn-group">
                <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false" id="filling_free_time_type"
                        style="font-size: min(3.2vw, 20px);">
                    Выбрать
                </button>
                <ul class="dropdown-menu" style="width: 100%;">
                    {% for free_time_type in free_time_types %}
                    <li class="d-grid dropdown_li">
                        <button class="btn" style="background-color: {{free_time_type.color}}"
                                onclick="choose_free_time_type(&quot;{{free_time_type.id}}&quot;)">
                            {{free_time_type.title}}
                        </button>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <div id="btn_arrow_undo"
                 class="arrow_undo_redo"
                 onclick="undo_history();"
                 align="center">
                <i class="bi bi-arrow-90deg-left"></i>
            </div>
            <div id="btn_arrow_redo"
                 class="arrow_undo_redo"
                 onclick="redo_history();"
                 align="center">
                <i class="bi bi-arrow-90deg-right"></i>
            </div>

        </div>

        <!--Выпадающая менюшка-->
        <div class="collapse  show container" id="collapseExample"
             style="background-color: #fff494; padding-bottom: 10px; padding-top:10px; border-radius: 10px;">
            <h2 align="center"><b>{{event.title}}</b></h2>
            <p style="text-align: justify; font-size: 1.2rem;"><b>{{event.description}}</b></p>

            <!--Временные интервалы-->
            <div class="form-control" style="border-radius: 10px;">
                <h4 align="center">Временные интервалы</h4>
                <p style="text-align: justify;">
                    Выбор длины временных интервалов влияет на точность заполнения таблицы. Чем меньше интервал, тем
                    быстрее заполняется таблица, но тем меньше точность её заполнения. Временные интервалы можно
                    изменять в процессе заполнения, чтобы быстро заполнить определённые промежутки времени, остальное
                    можно дозаполнить более аккуратно, используя интервалы с меньшей длиной.</p>
                <div class="row">
                    {% for table in all_tables %}
                    <div class="btn btn-danger table_button col"
                         id="table_button_{{table.step}}"
                         style="margin: 5px;"
                         onclick="choose_table(&quot;{{table.step}}&quot;)">{{table.step}}
                    </div>
                    {% endfor %}
                </div>

            </div>
            <br>

            <!--Шаблоны заполнения-->
            <div class="form-control" style="border-radius: 10px;">
                <h4 align="center">Шаблоны заполнения и пояснения к опциям интервалов</h4>
                <p style="text-align: justify;">Шаблоны заполнения позволяют установить определённое состояние для всех
                    ячеек таблицы разом.
                    {% if event.id != 1%}Также вы можете <b>использовать
                        данные шаблона из <a href="{% url 'get_event_free_time_by_user' '1' '-'%}">таблицы удобного
                            времени по
                            дням недели</a></b> и подредактировать его для текущих дат. {% endif %}Установленные данные
                    можно будет отредактировать. Обратите
                    внимание — использование шаблона ведёт к стиранию предыдущих данных этого ответа и внесению новых.
                    Будьте аккуратны.</p>

                {% if user.is_authenticated and event.id != 1%}
                <div class="d-grid dropdown_li">
                    <button class="btn btn-primary"
                            onclick="choose_filling_pattern(&quot;-&quot;)">
                        Взять данные из таблицы удобного времени по дням недели
                    </button>
                </div>
                {% endif %}

                <div class="form-control">
                    <h4 align="center">Закрасить таблицу по шаблону</h4>
                    <div class="row">
                        {% for free_time_type in free_time_types %}
                        <div class="col-lg"
                             style="background-color: {{free_time_type.color}};
                             width: 100%;
                             margin: 5px;
                             padding: 10px;
                             border-radius: 10px;
                             cursor: pointer;"
                             onclick="choose_filling_pattern(&quot;{{free_time_type.id}}&quot;)">
                            <h5><b>{{free_time_type.title}}</b></h5>
                            {{free_time_type.description}}
                        </div>
                        {% endfor %}
                    </div>

                </div>
            </div>

            <!--Кнопка отправки-->
            <div class="d-grid">
                <button class="btn btn-secondary" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseExample"
                        aria-expanded="false" aria-controls="collapseExample">
                    Свернуть подсказку <i class="bi bi-gear"></i>
                </button>
            </div>
        </div>
    </div>

</div>

<div class="container">
    {% for table in all_tables %}
    <table class="table table-bordered unselectable" id="table_{{table.step}}"
           style="display: none; table-layout: fixed; overflow-x: auto; overflow-y: hidden;
         -webkit-overflow-scrolling: touch;">
        <thead>
        <tr>
            {% for day in days%}
            <th scope="col" align="center">{{ day.title }}</th>
            {% endfor %}
        </tr>
        </thead>

        <tbody>
        {% for time in table.times %}
        <tr>
            {% for day in days %}
            <td align="center" class="cell" id="{{time}}_{{day.id}}">
                <div style="margin-top: -9px; margin-bottom: -100px; margin-left: -7px; margin-right: -7px;
            padding-bottom: 20px; padding-top: 0px;
            position: relative; bottom: 0px;
            min-height: 9rem;  min-width: 140px;"
                     onmouseover="mouse_over_td('{{time}}_{{day.id}}')"
                     onmousedown="change_td('{{time}}_{{day.id}}')"
                     class="unselectable">{{day.title}} <br>{{ time }}
                </div>
            </td>

            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endfor %}
    <div class="d-grid">
        <button class="btn btn-success" onclick="alert('Вы невероятны! Спасибо');">Сохранить. Вообще это не обязательно,
            данные сохраняются в процессе
            редактирования. Но так спокойней, верно?
        </button>
    </div>

    <script>set_colors();</script>

    <script>
        tables = document.getElementsByClassName("table");
        table = tables[tables.length - 1];
        table.style["display"] = "block";

        table_buttons = document.getElementsByClassName("table_button");
        button = table_buttons[table_buttons.length - 1];
        button.classList.remove( 'btn-danger' );
        button.classList.add('btn-primary')

        document.getElementById("filling_free_time_type").innerHTML = "Выбрать: " + free_time_types_dict[active_free_time_type]["title"]
        document.getElementById("filling_free_time_type").style["background-color"] = free_time_types_dict[active_free_time_type]["color"]

    </script>

</div>
{% endblock main %}
