{% extends "base.html"%}

{% load static %}

{% block main %}

<script>
    function send(){
        name = document.getElementById("name_input").value;
        url = "{% url 'get_event_free_time_by_user_with_name' event_id%}" + "/" + name;
        console.log(url);
        location.replace(url);
    }
</script>

<div class="container">
    <div>
        Если у вас есть логин и пароль в системе, <b><a href="{% url 'login' %}">войдите в систему</a></b>. Если вы являетесь сотрудником, и у вас пока нет логина и пароля для входа в систему, обратитесь к <b><a href="https://t.me/K0LLIu">Ване</a></b>
    </div>

    <br>
    <form>
        <div class="mb-3">
            <label for="name_input" class="form-label">Ввести имя</label>
            <input type="text" class="form-control" id="name_input" aria-describedby="emailHelp"
            placeholder="Иванов Иван Иванович">
            <div id="emailHelp" class="form-text">Стоит использовать в том случае, если у вас нет логина и пароля и вы пока не являетесь сотрудником летней школы. <span style="font-size: 0.5rem">Или если вам очень лень</span></div>
        </div>
        <div class="d-grid">
            <a class="btn btn-primary" onclick="send()">Заполнить свободное время, используя имя</a>
        </div>

    </form>
</div>
{% endblock main %}
