{% extends "base.html"%}

{% load static %}

{% block title%}Сетка{% endblock %}


{% block links%}
<link rel="stylesheet" href="{% static 'setka/css/main.css'%}">
{% if user.id == 1 or user.id == 6%}
<script src="{% static 'setka/js/main.js' %}"></script>
{% endif %}

{% endblock %}


{% block main %}
<div class="container-fluid">
    {% for week in weeks %}
    <div class="row" style="width: 100rem;">
        {% for day in week %}
        <div class="col">
            {% if day %}
            <div class="card day_card" style="height: 18rem; background-color: #fff494" id="day_{{day.id}}">
                <div class="card-body" style="text-align: center;">
                    {% if user.id == 1 or user.id == 6%}
                    <b><a href="/admin/setka/day/{{day.id}}/change/" style="text-decoration: none; color: black">
                            {{day.return_week_day}}<br>{{day.return_date}}
                    </a></b>
                    {%else %}
                    <b>{{day.return_week_day}}<br>{{day.return_date}}</b>
                    {%endif%}

                    <div class="{% if day.game%}draggable_game{%endif%}" id="game_{{day.game.id}}"
                         style="border: none;">
                        {% if day.game %}
                        <a href="{% url 'event' 'game' day.game.id %}"
                           style="text-decoration: none;">
                            <div class="d-grid">

                                <button class="btn btn-success" style="height: 6.5rem; width: 95%;
                                background-color: #{{day.game.ready.color}}; color: black;">
                                    {{day.game.title}}{%if day.game.responsible%}
                                    <br><span style="background-color: rgba(0.5, 0.5, 0.5, 0.5); color: white">
                                    {{day.game.responsible.first_name}}</span>{%endif%}
                                </button>

                            </div>
                        </a>
                        {% else %}
                        <button class="btn" style="height: 6.5rem; width: 95%">
                            ㅤ
                        </button>
                        {% endif %}
                    </div>
                    
                    <div class="{% if day.club%}draggable_club{%endif%}" id="club_{{day.club.id}}"
                         style="border: none;">
                        {% if day.club %}
                        <a href="{% url 'event' 'club' day.club.id %}" style="text-decoration: none;">
                            <div class="d-grid">
                                {% if day.club %}
                                <button class="btn btn-primary" style="height: 6.5rem; width: 95%;
                                background-color: #{{day.club.ready.color}}; color: black;">
                                    {{day.club.title}}{%if day.club.responsible%}
                                    <br><span style="background-color: rgba(0.5, 0.5, 0.5, 0.5); color: white">
                                    {{day.club.responsible.first_name}}</span>{%endif%}
                                </button>
                                {% else %}
                                <button class="btn" style="height: 6.5rem; width: 95%">
                                    ㅤ
                                </button>
                                {% endif %}
                            </div>
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <br>

    {% endfor %}

</div>

<div class="container">
    {% for r in ready%}
    <div class="row">
        <div class="col-6" style="background-color: #{{r.0.color}}">{{r.0.title}}</div>
        <div class="col-6" style="background-color: #{{r.1.color}}; color: black;">{{r.1.title}}</div>
    </div>
    {% endfor %}
</div>

<div class="container">
    <br>

    <div class="row">
        <div class="col">
            {% for game in games%}
            <div class="draggable_game d-grid" id="game_{{game.id}}">
                <a href="{% url 'event' 'game' game.id %}" class="btn btn-success btn-lg"
                style="background-color: #{{game.ready.color}}; color: black;">
                    {{game.title}}{%if game.responsible%}
                    <br><span style="background-color: rgba(0.5, 0.5, 0.5, 0.5); color: white">
                    {{game.responsible.first_name}}</span>{%endif%}
                </a>
            </div>
            {% endfor %}
        </div>

        <div class="col">
            {% for club in clubs%}
            <div class="draggable_club d-grid" id="club_{{club.id}}">
                <a href="{% url 'event' 'club' club.id %}" class="btn btn-primary btn-lg"
                style="background-color: #{{club.ready.color}}; color: black;">
                    {{club.title}}{%if club.responsible%}
                    <br><span style="background-color: rgba(0.5, 0.5, 0.5, 0.5); color: white">
                    {{club.responsible.first_name}}</span>{%endif%}
                </a>
            </div>
            {% endfor %}
        </div>
    </div>

</div>
{% endblock main %}

{% block final %}
{% if user.id == 1 or user.id == 6%}
<script src="{% static 'setka/js/final.js' %}"></script>
{% endif %}
{% endblock %}