{% extends 'base.html'%}

{% block links %}{% endblock %}


{% block main %}
<div class="container">

    <form action="{% url 'register'%}" method="post" id="register">
        {% csrf_token %}

        <div class="form-control">
            {% for field in form %}


            <b>{{ field.label }}: </b>
            {{ field }}


            {% endfor %}

            <div class="d-grid">
                <br><button type="submit" class="btn btn-lg btn-success">Сохранить</button>
            </div>
        </div>
    </form>

</div>
{% endblock %}