{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <!-- Обязательные метатеги -->
    <meta charset="utf-8">
    <meta name="viewport" content="height=device-height, width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <link href="{% static 'graf_quests/css/bootstrap_5_0_2.css'%}" rel="stylesheet" crossorigin="anonymous">

    <script src="{% static 'graf_quests/js/jquery_2_2_0.js'%}"></script>
    <script src="{% static 'graf_quests/js/ajax_googleapis_jquery_1_10_2_jquery_min_js.js'%}"></script>
    <script src="{% static 'graf_quests/js/ajax_aspnetcdn_com_ajax_jquery_ui_1_10_3_jquery_ui_min.js' %}"></script>

    {% block links%} {% endblock %}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>{% block title%}Неучебная{% endblock %}</title>

    <script>var csrftoken = '{{ csrf_token }}';</script>
</head>

<body>
<!--Навигационная панель-->
{% include 'include/_nav.html' %}

<!--Сообщения-->
{% if messages%}
{% for message in messages %}

{% if message.tags == 'error' %}
<div class="alert alert-danger" role="alert"> {{message}}</div>
{% else %}
<div class="alert alert-{{ message.tags }}" role="alert"> {{message}}</div>
{% endif %}

{% endfor %}
{% endif %}


<!--Основной блок-->
<div style="min-height: 1000px;">{% block main %}<h1>Тело</h1>{% endblock %}</div>

<!--Подвал-->
{% include 'include/_footer.html'%}

<!--Финальные скрипты-->
{% block final %}{% endblock %}

<script src="{% static 'graf_quests/js/bootstrap_5_0_1.js'%}"
        crossorigin="anonymous"></script>
</body>

</html>